MODULE NAME
    katello.client.config


CLASSES

    class Config(object)
        The katello client configuration. Works as a static singleton
        class.

        This Config class acts as a wrapper for ConfigParser so that each
        class needing to access the config file doesn't need to keep track
        of the file path. You can simply initialize Config with 'Config()'
        and you have full access to a RawConfigParser with the config file
        read into the object for manipulation by calling methods on
        'Config.parser' .

        For more detailed information on ConfigParser and its methods,
        please see http://docs.python.org/library/configparser.html .

        To save to the config file after making changes, call
        'Config.save()' and the changes will be written to file. Please
        note this only saves 'options' section of the file storing it in
        the client-options.conf file.

        Config throws an Exception if 'Config.save()' is called before
        initializing the Config object.


        __init__(self)
            Initializes a RawConfigParser and reads the configuration file
            into the object

        Static methods

            save()
                Save the "options" section to the client-options.conf file.

                Please note other settings (other sections) are not saved!

            ensure_dir(f)

        Class variables

            FILE = 'client.conf'

            PATH = os.path.join('/etc/katello', FILE)
                The absolute path to the config directory.

            USER = os.path.expanduser(os.path.join('~/.katello', FILE))
                The path to an alternate configuration file within the
                user's home.

            USER_OPTIONS = os.path.expanduser(os.path.join('~/.katello',...

            parser = None

        Inherited methods
